.clr{
	clear: both;
	margin: 0;
	padding: 0;
}


#page_cover{
	width: 75%;
	margin: 0 auto;	
}

body{
	background-color: rgb(30,30,30);
	font-family: Arial, Verdana, sans-serif;	
	font-size: 14px;	
}

#site-name{
	padding-left: 10px;
}

header{
	width: 100%;
	height: 150px;
	background-image: url("../image/header.jpg");
	background-color: white;
	border-bottom: 2px solid #1788F0;
	border-top: 2px solid #1788F0;
	margin-top: 30px;	
	position: relative;
}

footer{
	width: 100%;
	color: white;
}

#header-logo{
	position: absolute;
	right: 20px;
	top: 0px;	
}

nav ul li{
	float: left;
	margin-left: 10px;	
	padding-top: 5px;
}

nav ul li a{
	color: #1788F0;
}

#posts-section{
	width: 100%;
}

.post-cover{
	border-left: 2px solid #1788F0;
	margin-top: 20px;
	background-color: white;
	min-height: 100px;
}

.post-title{
	text-align: left;
	padding: 5px 0;
	padding-left: 10px;
	font-size: 22px;
	
}

.post-date{
	text-align: left;
	padding: 5px 0;
	padding-left: 15px;
	font-size: 12px;
	font-weight: 500;
}

.post-title a{
	color: #1788F0;
	text-decoration: none;
}

.post-preview-text, .post-image{
	float: left;
}

.post-image{
	width: 20%;
}

.post-preview-text{
	width: 75%;
	font-weight: 300;
	text-align: justify;
}

.post-button{
	float: right;
	
	height: 20px;
}

.b-read-next{
	text-decoration: none;
	padding: 8px 5px;
	background-color: #1788F0; 
	color: white;
}

.b-read-next:hover{
	background-color: #0242AC;
}

#cr_new_post{
	position: absolute;
	right: 20px;
	bottom: -10px;
}

.nav_button{
	background-color: #1788F0;
	padding: 5px;
	color: white;
}

.nav_button:hover{
	background-color: #0242AC;
	cursor: pointer;
}

.creation_window{
	position: fixed;
	top: 5%;
	left: 15%;
	background-color: white;
	width: 70%;
	min-height: 500px;		
	z-index: 2;
	display: none;
}

#cover-window{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: 1;
	display: none; 
}

.close-window{
	width: 25px;
	height: 25px;
	position: absolute;
	right: -10px;
	top: -10px;	
}


.close-window:hover{
	cursor: pointer;
}

.post-part-title, .post-part-input{
	float: left;
}

.post-part-title{
	width: 20%;
	margin-left: 5%;
	text-align: center;
}

.post-part-input{
	width: 70%;
}

.post-part-input input{
	width: 90%;
}

.post-part-input textarea{
	width: 90%;
	height: 300px;
}